@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --body-background-color: #f0f2f4;

    /* Home - Header Logo */
    --header-logo-text-color: #ffffff;
    --header-logo-background-color: #3C4B7A;
    --header-logo-border-color: #a4bedd;
    /* Home - Aside Navigation Menu */
    --anm-background-color: #8DA5EC;
    --anm-border-color: #a4bedd;
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}