.loading {
    height: auto;
    width: 180px;

    animation: rotate infinite 4s linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 768px) {
    .loading {
        width: 250px;
    }
}